/* Add a background color to the header element */
header {
    color: rgb(0, 0, 0);
    background-color: slategrey;
}

/* Add a fun background color to the main element */
main {
    background-color: dimgray;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

/* Add a background color to the footer element */